* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerbg {
    background-color: rgb(101, 247, 247);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.header-container {
    background-color: rgb(211, 163, 42);
    border: 2px dashed black;
    display: flex;
    width: 70%;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    max-width: 1000px;
}

.nav-links-header {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px dashed black;
}

.nav-links-header a {
    text-decoration: none;
    color: black;
}

.nav-links-header-ul {
    list-style-type: none;
    width: 30%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Jumbo */

.jumbo-bg {
    background-color: navy;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbo-container {
    width: 45%;
    height: 400px;
    background-color: violet;
    border: 2px dashed black;
}